In [2]:
import pandas as pd

In [3]:
lat_lon_dict = {'BKK':[13.729984,100.536443],
'Chiangmai':[18.840633,98.969661],
'Khonkaen':[16.445329,102.835251],
'Rayong':[12.671521,101.275875],
'Saraburi':[14.685833,100.871996],
'Surat':[9.126057,99.325355]}

# BKK

In [4]:
bkk = pd.read_csv('./BKK_Scape/BKK_scape.csv')
bkk = bkk.iloc[:,1:]
bkk['date'] = pd.to_datetime(bkk['date'])
bkk = bkk[['date','PM2.5','temp','wind','dir']]
bkk.columns = ['date_time','PM2.5','temp','wind speed','wind dir']
bkk['lat'] = lat_lon_dict['BKK'][0]
bkk['long'] = lat_lon_dict['BKK'][1]

bkk.head()

,date_time,PM2.5,temp,wind speed,wind dir,lat,long
0,2020-07-01 00:00:00,9.0,29.4,35,270,13.729984,100.536443
1,2020-07-01 01:00:00,8.0,29.4,42,260,13.729984,100.536443
2,2020-07-01 02:00:00,12.0,28.5,42,260,13.729984,100.536443
3,2020-07-01 03:00:00,9.0,28.5,42,260,13.729984,100.536443
4,2020-07-01 04:00:00,8.0,28.3,55,270,13.729984,100.536443

In [5]:
bkk.to_csv('BKK_clean.csv')

# Chiangmai

In [6]:
chiangmai = pd.read_csv('./Chiangmai_Scape/Chiangmai_withTempAndWind0.csv')
chiangmai = chiangmai.iloc[:,1:]
chiangmai['date'] = pd.to_datetime(chiangmai['date'])
chiangmai.head()

                 date  PM2.5             date_utc          url_date       wind
0 2020-07-01 00:00:00   13.0  2020-06-30 17:00:00  2020/06/30/1700Z  225° @ 17
1 2020-07-01 01:00:00   13.0  2020-06-30 18:00:00  2020/06/30/1800Z  265° @ 24
2 2020-07-01 02:00:00   11.0  2020-06-30 19:00:00  2020/06/30/1900Z  265° @ 24
3 2020-07-01 03:00:00   13.0  2020-06-30 20:00:00  2020/06/30/2000Z  265° @ 24
4 2020-07-01 04:00:00   12.0  2020-06-30 21:00:00  2020/06/30/2100Z  280° @ 23

In [7]:
chiangmai_temp = pd.read_csv('./Chiangmai_Scape/Chiangmai_withTemp0.csv')
chiangmai_temp = chiangmai_temp.iloc[:,1:]
chiangmai_temp['date'] = pd.to_datetime(chiangmai_temp['date'])
chiangmai_temp.head()

                 date  PM2.5             date_utc          url_date  temp
0 2020-07-01 00:00:00   13.0  2020-06-30 17:00:00  2020/06/30/1700Z  25.2
1 2020-07-01 01:00:00   13.0  2020-06-30 18:00:00  2020/06/30/1800Z  24.0
2 2020-07-01 02:00:00   11.0  2020-06-30 19:00:00  2020/06/30/1900Z  24.0
3 2020-07-01 03:00:00   13.0  2020-06-30 20:00:00  2020/06/30/2000Z  24.0
4 2020-07-01 04:00:00   12.0  2020-06-30 21:00:00  2020/06/30/2100Z  23.4

In [8]:
chiangmai['temp']=chiangmai_temp['temp']
chiangmai.head()

,date,PM2.5,date_utc,url_date,wind,temp
0,2020-07-01 00:00:00,13.0,2020-06-30 17:00:00,2020/06/30/1700Z,225° @ 17,25.2
1,2020-07-01 01:00:00,13.0,2020-06-30 18:00:00,2020/06/30/1800Z,265° @ 24,24.0
2,2020-07-01 02:00:00,11.0,2020-06-30 19:00:00,2020/06/30/1900Z,265° @ 24,24.0
3,2020-07-01 03:00:00,13.0,2020-06-30 20:00:00,2020/06/30/2000Z,265° @ 24,24.0
4,2020-07-01 04:00:00,12.0,2020-06-30 21:00:00,2020/06/30/2100Z,280° @ 23,23.4

In [9]:
chiangmai = chiangmai[['date','PM2.5','date_utc','url_date','temp','wind']]
chiangmai.head()

,date,PM2.5,date_utc,url_date,temp,wind
0,2020-07-01 00:00:00,13.0,2020-06-30 17:00:00,2020/06/30/1700Z,25.2,225° @ 17
1,2020-07-01 01:00:00,13.0,2020-06-30 18:00:00,2020/06/30/1800Z,24.0,265° @ 24
2,2020-07-01 02:00:00,11.0,2020-06-30 19:00:00,2020/06/30/1900Z,24.0,265° @ 24
3,2020-07-01 03:00:00,13.0,2020-06-30 20:00:00,2020/06/30/2000Z,24.0,265° @ 24
4,2020-07-01 04:00:00,12.0,2020-06-30 21:00:00,2020/06/30/2100Z,23.4,280° @ 23

In [10]:
for i in range(1,9):
    chiangmai2 = pd.read_csv('./Chiangmai_Scape/Chiangmai_withTempAndWind'+str(i)+'.csv')
    chiangmai2 = chiangmai2.iloc[:,1:]
    chiangmai = pd.concat([chiangmai,chiangmai2],ignore_index=True)

In [60]:
chiangmai.tail(10)

,date,PM2.5,date_utc,url_date,temp,wind
8774,2021-07-01 14:00:00,14.0,2021-07-01 07:00:00,2021/07/01/0700Z,30.6,235° @ 15
8775,2021-07-01 15:00:00,14.0,2021-07-01 08:00:00,2021/07/01/0800Z,29.7,230° @ 16
8776,2021-07-01 16:00:00,14.0,2021-07-01 09:00:00,2021/07/01/0900Z,30.0,235° @ 20
8777,2021-07-01 17:00:00,13.0,2021-07-01 10:00:00,2021/07/01/1000Z,29.4,240° @ 21
8778,2021-07-01 18:00:00,13.0,2021-07-01 11:00:00,2021/07/01/1100Z,27.0,240° @ 22
8779,2021-07-01 19:00:00,NaN,2021-07-01 12:00:00,2021/07/01/1200Z,24.6,250° @ 23
8780,2021-07-01 20:00:00,13.0,2021-07-01 13:00:00,2021/07/01/1300Z,24.1,250° @ 25
8781,2021-07-01 21:00:00,NaN,2021-07-01 14:00:00,2021/07/01/1400Z,23.9,255° @ 26
8782,2021-07-01 22:00:00,13.0,2021-07-01 15:00:00,2021/07/01/1500Z,23.5,260° @ 27
8783,2021-07-01 23:00:00,13.0,2021-07-01 16:00:00,2021/07/01/1600Z,23.2,260° @ 27

In [11]:
chiangmai['dir']=chiangmai['wind'].apply(lambda x: x.split("° @ ")[0])
chiangmai['wind']=chiangmai['wind'].apply(lambda x: x.split("° @ ")[1])
chiangmai.head()

,date,PM2.5,date_utc,url_date,temp,wind,dir
0,2020-07-01 00:00:00,13.0,2020-06-30 17:00:00,2020/06/30/1700Z,25.2,17,225
1,2020-07-01 01:00:00,13.0,2020-06-30 18:00:00,2020/06/30/1800Z,24.0,24,265
2,2020-07-01 02:00:00,11.0,2020-06-30 19:00:00,2020/06/30/1900Z,24.0,24,265
3,2020-07-01 03:00:00,13.0,2020-06-30 20:00:00,2020/06/30/2000Z,24.0,24,265
4,2020-07-01 04:00:00,12.0,2020-06-30 21:00:00,2020/06/30/2100Z,23.4,23,280

In [12]:
chiangmai = chiangmai[['date','PM2.5','temp','wind','dir']]
chiangmai.columns = ['date_time','PM2.5','temp','wind speed','wind dir']
chiangmai['lat'] = lat_lon_dict['Chiangmai'][0]
chiangmai['long'] = lat_lon_dict['Chiangmai'][1]
chiangmai.head()

             date_time  PM2.5  temp wind speed wind dir        lat       long
0  2020-07-01 00:00:00   13.0  25.2         17      225  18.840633  98.969661
1  2020-07-01 01:00:00   13.0  24.0         24      265  18.840633  98.969661
2  2020-07-01 02:00:00   11.0  24.0         24      265  18.840633  98.969661
3  2020-07-01 03:00:00   13.0  24.0         24      265  18.840633  98.969661
4  2020-07-01 04:00:00   12.0  23.4         23      280  18.840633  98.969661

In [13]:
chiangmai.to_csv('Chiangmai_clean.csv')

# Khonkaen

In [14]:
khonkaen = pd.read_csv('scrapeKhonkaen.csv')
khonkaen = khonkaen.iloc[:,1:]
khonkaen.head()

,date,PM2.5,date_utc,url_date,temp,wind
0,2020-07-01 00:00:00,11.0,2020-06-30 17:00:00,2020/06/30/1700Z,27.6,230° @ 21
1,2020-07-01 01:00:00,14.0,2020-06-30 18:00:00,2020/06/30/1800Z,26.7,240° @ 37
2,2020-07-01 02:00:00,15.0,2020-06-30 19:00:00,2020/06/30/1900Z,26.7,240° @ 37
3,2020-07-01 03:00:00,11.0,2020-06-30 20:00:00,2020/06/30/2000Z,26.7,240° @ 37
4,2020-07-01 04:00:00,9.0,2020-06-30 21:00:00,2020/06/30/2100Z,25.5,255° @ 39

In [15]:
khonkaen['dir']=khonkaen['wind'].apply(lambda x: x.split("° @ ")[0])
khonkaen['wind']=khonkaen['wind'].apply(lambda x: x.split("° @ ")[1])
khonkaen.head()

,date,PM2.5,date_utc,url_date,temp,wind,dir
0,2020-07-01 00:00:00,11.0,2020-06-30 17:00:00,2020/06/30/1700Z,27.6,21,230
1,2020-07-01 01:00:00,14.0,2020-06-30 18:00:00,2020/06/30/1800Z,26.7,37,240
2,2020-07-01 02:00:00,15.0,2020-06-30 19:00:00,2020/06/30/1900Z,26.7,37,240
3,2020-07-01 03:00:00,11.0,2020-06-30 20:00:00,2020/06/30/2000Z,26.7,37,240
4,2020-07-01 04:00:00,9.0,2020-06-30 21:00:00,2020/06/30/2100Z,25.5,39,255

In [16]:
khonkaen = khonkaen[['date','PM2.5','temp','wind','dir']]
khonkaen.columns = ['date_time','PM2.5','temp','wind speed','wind dir']
khonkaen['lat'] = lat_lon_dict['Khonkaen'][0]
khonkaen['long'] = lat_lon_dict['Khonkaen'][1]
khonkaen.head()

             date_time  PM2.5  temp wind speed wind dir        lat        long
0  2020-07-01 00:00:00   11.0  27.6         21      230  16.445329  102.835251
1  2020-07-01 01:00:00   14.0  26.7         37      240  16.445329  102.835251
2  2020-07-01 02:00:00   15.0  26.7         37      240  16.445329  102.835251
3  2020-07-01 03:00:00   11.0  26.7         37      240  16.445329  102.835251
4  2020-07-01 04:00:00    9.0  25.5         39      255  16.445329  102.835251

In [17]:
khonkaen.to_csv('Khonkaen_clean.csv')

# Rayong

In [18]:
Rayong = pd.read_csv('scrapeRayong.csv')
Rayong = Rayong.iloc[:,1:]
Rayong.head()

,date,PM2.5,date_utc,url_date,temp,wind
0,2020-07-01 00:00:00,5.0,2020-06-30 17:00:00,2020/06/30/1700Z,28.5,270° @ 47
1,2020-07-01 01:00:00,3.0,2020-06-30 18:00:00,2020/06/30/1800Z,28.2,270° @ 47
2,2020-07-01 02:00:00,2.0,2020-06-30 19:00:00,2020/06/30/1900Z,28.2,260° @ 41
3,2020-07-01 03:00:00,4.0,2020-06-30 20:00:00,2020/06/30/2000Z,28.2,260° @ 41
4,2020-07-01 04:00:00,3.0,2020-06-30 21:00:00,2020/06/30/2100Z,27.8,260° @ 46

In [19]:
Rayong['dir']=Rayong['wind'].apply(lambda x: x.split("° @ ")[0])
Rayong['wind']=Rayong['wind'].apply(lambda x: x.split("° @ ")[1])
Rayong.head()

,date,PM2.5,date_utc,url_date,temp,wind,dir
0,2020-07-01 00:00:00,5.0,2020-06-30 17:00:00,2020/06/30/1700Z,28.5,47,270
1,2020-07-01 01:00:00,3.0,2020-06-30 18:00:00,2020/06/30/1800Z,28.2,47,270
2,2020-07-01 02:00:00,2.0,2020-06-30 19:00:00,2020/06/30/1900Z,28.2,41,260
3,2020-07-01 03:00:00,4.0,2020-06-30 20:00:00,2020/06/30/2000Z,28.2,41,260
4,2020-07-01 04:00:00,3.0,2020-06-30 21:00:00,2020/06/30/2100Z,27.8,46,260

In [20]:
Rayong = Rayong[['date','PM2.5','temp','wind','dir']]
Rayong.columns = ['date_time','PM2.5','temp','wind speed','wind dir']
Rayong['lat'] = lat_lon_dict['Rayong'][0]
Rayong['long'] = lat_lon_dict['Rayong'][1]
Rayong.head()

             date_time  PM2.5  temp wind speed wind dir        lat        long
0  2020-07-01 00:00:00    5.0  28.5         47      270  12.671521  101.275875
1  2020-07-01 01:00:00    3.0  28.2         47      270  12.671521  101.275875
2  2020-07-01 02:00:00    2.0  28.2         41      260  12.671521  101.275875
3  2020-07-01 03:00:00    4.0  28.2         41      260  12.671521  101.275875
4  2020-07-01 04:00:00    3.0  27.8         46      260  12.671521  101.275875

In [21]:
Rayong.to_csv('Rayong_clean.csv')

# Saraburi

In [22]:
data = pd.read_csv('./Saraburi/test/saraburi_test_wind_temp.csv')
data.head()

,date,PM2.5,date_utc,url_date,temp,wind
0,2020-07-01 00:00:00,2.0,2020-06-30 17:00:00,2020/06/30/1700Z,25.9,250° @ 41
1,2020-07-01 01:00:00,NaN,2020-06-30 18:00:00,2020/06/30/1800Z,25.5,255° @ 41
2,2020-07-01 02:00:00,NaN,2020-06-30 19:00:00,2020/06/30/1900Z,25.5,255° @ 41
3,2020-07-01 03:00:00,3.0,2020-06-30 20:00:00,2020/06/30/2000Z,25.5,255° @ 41
4,2020-07-01 04:00:00,5.0,2020-06-30 21:00:00,2020/06/30/2100Z,25.1,265° @ 49

In [23]:
data['dir']=data['wind'].apply(lambda x: x.split("° @ ")[0])
data['wind']=data['wind'].apply(lambda x: x.split("° @ ")[1])
data.head()

,date,PM2.5,date_utc,url_date,temp,wind,dir
0,2020-07-01 00:00:00,2.0,2020-06-30 17:00:00,2020/06/30/1700Z,25.9,41,250
1,2020-07-01 01:00:00,NaN,2020-06-30 18:00:00,2020/06/30/1800Z,25.5,41,255
2,2020-07-01 02:00:00,NaN,2020-06-30 19:00:00,2020/06/30/1900Z,25.5,41,255
3,2020-07-01 03:00:00,3.0,2020-06-30 20:00:00,2020/06/30/2000Z,25.5,41,255
4,2020-07-01 04:00:00,5.0,2020-06-30 21:00:00,2020/06/30/2100Z,25.1,49,265

In [24]:
data = data[['date','PM2.5','temp','wind','dir']]
data.columns = ['date_time','PM2.5','temp','wind speed','wind dir']
data['lat'] = lat_lon_dict['Saraburi'][0]
data['long'] = lat_lon_dict['Saraburi'][1]
data.head()

             date_time  PM2.5  temp wind speed wind dir        lat        long
0  2020-07-01 00:00:00    2.0  25.9         41      250  14.685833  100.871996
1  2020-07-01 01:00:00    NaN  25.5         41      255  14.685833  100.871996
2  2020-07-01 02:00:00    NaN  25.5         41      255  14.685833  100.871996
3  2020-07-01 03:00:00    3.0  25.5         41      255  14.685833  100.871996
4  2020-07-01 04:00:00    5.0  25.1         49      265  14.685833  100.871996

In [25]:
data.to_csv('Saraburi_clean.csv')

# Surat

In [26]:
data = pd.read_csv('./Surat/test/surat_test_wind_temp.csv')
data.head()

,date,PM2.5,date_utc,url_date,temp,wind
0,2020-07-01 00:00:00,19.0,2020-06-30 17:00:00,2020/06/30/1700Z,25.9,260° @ 23
1,2020-07-01 01:00:00,22.0,2020-06-30 18:00:00,2020/06/30/1800Z,25.2,255° @ 21
2,2020-07-01 02:00:00,28.0,2020-06-30 19:00:00,2020/06/30/1900Z,25.2,255° @ 21
3,2020-07-01 03:00:00,25.0,2020-06-30 20:00:00,2020/06/30/2000Z,25.2,255° @ 21
4,2020-07-01 04:00:00,19.0,2020-06-30 21:00:00,2020/06/30/2100Z,24.7,255° @ 29

In [27]:
data['dir']=data['wind'].apply(lambda x: x.split("° @ ")[0])
data['wind']=data['wind'].apply(lambda x: x.split("° @ ")[1])
data.head()

,date,PM2.5,date_utc,url_date,temp,wind,dir
0,2020-07-01 00:00:00,19.0,2020-06-30 17:00:00,2020/06/30/1700Z,25.9,23,260
1,2020-07-01 01:00:00,22.0,2020-06-30 18:00:00,2020/06/30/1800Z,25.2,21,255
2,2020-07-01 02:00:00,28.0,2020-06-30 19:00:00,2020/06/30/1900Z,25.2,21,255
3,2020-07-01 03:00:00,25.0,2020-06-30 20:00:00,2020/06/30/2000Z,25.2,21,255
4,2020-07-01 04:00:00,19.0,2020-06-30 21:00:00,2020/06/30/2100Z,24.7,29,255

In [28]:
data = data[['date','PM2.5','temp','wind','dir']]
data.columns = ['date_time','PM2.5','temp','wind speed','wind dir']
data['lat'] = lat_lon_dict['Saraburi'][0]
data['long'] = lat_lon_dict['Saraburi'][1]
data.head()

             date_time  PM2.5  temp wind speed wind dir        lat        long
0  2020-07-01 00:00:00   19.0  25.9         23      260  14.685833  100.871996
1  2020-07-01 01:00:00   22.0  25.2         21      255  14.685833  100.871996
2  2020-07-01 02:00:00   28.0  25.2         21      255  14.685833  100.871996
3  2020-07-01 03:00:00   25.0  25.2         21      255  14.685833  100.871996
4  2020-07-01 04:00:00   19.0  24.7         29      255  14.685833  100.871996

In [29]:
data.to_csv('Surat_clean.csv')

# ALL

In [30]:
bkk = pd.read_csv('BKK_clean.csv')
chiangmai = pd.read_csv('Chiangmai_clean.csv')
khonkaen = pd.read_csv('Khonkaen_clean.csv')
rayong = pd.read_csv('Rayong_clean.csv')
saraburi = pd.read_csv('Saraburi_clean.csv')
surat = pd.read_csv('Surat_clean.csv')

In [31]:
data = pd.concat([bkk,chiangmai,khonkaen,rayong,saraburi,surat],ignore_index=True)
data = data.iloc[:,1:]
data.to_csv('all_province_test.csv')