In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager

import time
import os

import pandas as pd
from datetime import datetime, timedelta
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [8]:
lat = '13.729984'
long = '100.536443'
province="BKK"

In [3]:
service = ChromeService(executable_path=ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)

data = pd.read_csv('../BKK/test/bkk_test.csv')
data.columns = ["date","PM2.5"]

data['date_utc'] = pd.to_datetime(data['date']) - timedelta(hours=7)
data['url_date'] = data['date_utc'].apply(lambda x : x.strftime("%Y/%m/%d/%H%M")+"Z")

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\NKIKK\.wdm\drivers\chromedriver\win32\99.0.4844.51]

In [4]:
def getTemp(lat,long,date):
    url = "https://earth.nullschool.net/#"+date+'/wind/surface/level/overlay=temp/orthographic=97.73,-347.68,3906/loc='+ long+ ','+lat
    # driver.implicitly_wait(1000)
    driver.get(url=url)
    time.sleep(2)
    html = driver.execute_script("return document.documentElement.outerHTML")

    all_link = driver.find_elements(by=By.CSS_SELECTOR, value='#spotlight-panel.panel.card')
    for link in all_link:
        return link.text.split("\n")[-2]
def getWind(lat,long,date):
    url = "https://earth.nullschool.net/#"+date+'/wind/isobaric/850hPa/orthographic=97.73,-347.68,3906/loc='+ long+ ','+lat
    driver.get(url=url)
    time.sleep(2)
    html = driver.execute_script("return document.documentElement.outerHTML")
    all_link = driver.find_elements(by=By.CSS_SELECTOR, value='#spotlight-panel.panel.card')
    for link in all_link:
        return link.text.split("\n")[-2]

In [6]:
data1=data[:1000].copy()

data1['temp'] = data1['url_date'].apply(lambda x : getTemp(lat,long,x))
data1.to_csv('BKK_withTemp1.csv')

In [7]:
data1['wind'] = data1['url_date'].apply(lambda x : getWind(lat,long,x))
data1.to_csv('BKK_withTempAndWind1.csv')

In [14]:
l=len(data)

In [28]:
i=1
r=1000

In [13]:
print(len(data))

8784

In [30]:
i=2

In [31]:
while(True):
    print("-------")
    print("i=",i)

    b = min(r*i+r,l+1)
    print(r*i,b)
    
    d=data[r*i:b].copy()

    time.sleep(3)

    d['temp'] = d['url_date'].apply(lambda x : getTemp(lat,long,x))
    f1=province+'_withTemp'+str(i)+'.csv'
    print(f1)
    d.to_csv(f1)
    print("saved with temp i=",i)

    time.sleep(3)

    d['wind'] = d['url_date'].apply(lambda x : getWind(lat,long,x))
    f2=province+'_withTempAndWind'+str(i)+'.csv'
    print(f2)
    d.to_csv(f2)
    print("saved with temp and wind i=",i)

    if(b-1==l):
        break

    i+=1

-------
i= 2
2000 3000
BKK_withTemp2.csv
saved with temp i= 2
BKK_withTempAndWind2.csv
saved with temp and wind i= 2
-------
i= 3
3000 4000
BKK_withTemp3.csv
saved with temp i= 3
BKK_withTempAndWind3.csv
saved with temp and wind i= 3
-------
i= 4
4000 5000
BKK_withTemp4.csv
saved with temp i= 4
BKK_withTempAndWind4.csv
saved with temp and wind i= 4
-------
i= 5
5000 6000
BKK_withTemp5.csv
saved with temp i= 5
BKK_withTempAndWind5.csv
saved with temp and wind i= 5
-------
i= 6
6000 7000
BKK_withTemp6.csv
saved with temp i= 6
BKK_withTempAndWind6.csv
saved with temp and wind i= 6
-------
i= 7
7000 8000
BKK_withTemp7.csv
saved with temp i= 7
BKK_withTempAndWind7.csv
saved with temp and wind i= 7
-------
i= 8
8000 8785
BKK_withTemp8.csv
saved with temp i= 8
BKK_withTempAndWind8.csv
saved with temp and wind i= 8

In [32]:
data1 = pd.read_csv('BKK_withTempAndWind0.csv')
data1.head()

,Unnamed: 0,date,PM2.5,date_utc,url_date,temp,wind
0,0,2020-07-01 00:00:00,9.0,2020-06-30 17:00:00,2020/06/30/1700Z,29.4,270° @ 35
1,1,2020-07-01 01:00:00,8.0,2020-06-30 18:00:00,2020/06/30/1800Z,29.4,260° @ 42
2,2,2020-07-01 02:00:00,12.0,2020-06-30 19:00:00,2020/06/30/1900Z,28.5,260° @ 42
3,3,2020-07-01 03:00:00,9.0,2020-06-30 20:00:00,2020/06/30/2000Z,28.5,260° @ 42
4,4,2020-07-01 04:00:00,8.0,2020-06-30 21:00:00,2020/06/30/2100Z,28.3,270° @ 55

In [33]:
data1=data1.iloc[:,1:]
data1.head()

,date,PM2.5,date_utc,url_date,temp,wind
0,2020-07-01 00:00:00,9.0,2020-06-30 17:00:00,2020/06/30/1700Z,29.4,270° @ 35
1,2020-07-01 01:00:00,8.0,2020-06-30 18:00:00,2020/06/30/1800Z,29.4,260° @ 42
2,2020-07-01 02:00:00,12.0,2020-06-30 19:00:00,2020/06/30/1900Z,28.5,260° @ 42
3,2020-07-01 03:00:00,9.0,2020-06-30 20:00:00,2020/06/30/2000Z,28.5,260° @ 42
4,2020-07-01 04:00:00,8.0,2020-06-30 21:00:00,2020/06/30/2100Z,28.3,270° @ 55

In [34]:
data2 = pd.read_csv('BKK_withTempAndWind1.csv')
data2=data2.iloc[:,1:]
data2.head()

,date,PM2.5,date_utc,url_date,temp,wind
0,2020-08-11 16:00:00,16.0,2020-08-11 09:00:00,2020/08/11/0900Z,30.5,260° @ 29
1,2020-08-11 17:00:00,15.0,2020-08-11 10:00:00,2020/08/11/1000Z,30.5,260° @ 39
2,2020-08-11 18:00:00,13.0,2020-08-11 11:00:00,2020/08/11/1100Z,30.5,260° @ 39
3,2020-08-11 19:00:00,13.0,2020-08-11 12:00:00,2020/08/11/1200Z,29.3,270° @ 30
4,2020-08-11 20:00:00,19.0,2020-08-11 13:00:00,2020/08/11/1300Z,29.3,270° @ 30

In [35]:
data=pd.concat([data1,data2],ignore_index=True)
data.head()

,date,PM2.5,date_utc,url_date,temp,wind
0,2020-07-01 00:00:00,9.0,2020-06-30 17:00:00,2020/06/30/1700Z,29.4,270° @ 35
1,2020-07-01 01:00:00,8.0,2020-06-30 18:00:00,2020/06/30/1800Z,29.4,260° @ 42
2,2020-07-01 02:00:00,12.0,2020-06-30 19:00:00,2020/06/30/1900Z,28.5,260° @ 42
3,2020-07-01 03:00:00,9.0,2020-06-30 20:00:00,2020/06/30/2000Z,28.5,260° @ 42
4,2020-07-01 04:00:00,8.0,2020-06-30 21:00:00,2020/06/30/2100Z,28.3,270° @ 55

In [20]:
data.tail()

,date,PM2.5,date_utc,url_date,temp,wind
1995,2020-09-22 03:00:00,20.0,2020-09-21 20:00:00,2020/09/21/2000Z,28.2,310° @ 9
1996,2020-09-22 04:00:00,21.0,2020-09-21 21:00:00,2020/09/21/2100Z,27.5,325° @ 9
1997,2020-09-22 05:00:00,20.0,2020-09-21 22:00:00,2020/09/21/2200Z,27.5,325° @ 9
1998,2020-09-22 06:00:00,18.0,2020-09-21 23:00:00,2020/09/21/2300Z,27.5,325° @ 9
1999,2020-09-22 07:00:00,18.0,2020-09-22 00:00:00,2020/09/22/0000Z,26.9,335° @ 11

In [21]:
data.iloc[995:1005,:]

,date,PM2.5,date_utc,url_date,temp,wind
995,2020-08-11 11:00:00,18.0,2020-08-11 04:00:00,2020/08/11/0400Z,30.0,260° @ 44
996,2020-08-11 12:00:00,17.0,2020-08-11 05:00:00,2020/08/11/0500Z,30.0,260° @ 44
997,2020-08-11 13:00:00,17.0,2020-08-11 06:00:00,2020/08/11/0600Z,31.2,275° @ 33
998,2020-08-11 14:00:00,14.0,2020-08-11 07:00:00,2020/08/11/0700Z,31.2,275° @ 33
999,2020-08-11 15:00:00,17.0,2020-08-11 08:00:00,2020/08/11/0800Z,31.2,275° @ 33
1000,2020-08-11 16:00:00,16.0,2020-08-11 09:00:00,2020/08/11/0900Z,30.5,260° @ 29
1001,2020-08-11 17:00:00,15.0,2020-08-11 10:00:00,2020/08/11/1000Z,30.5,260° @ 39
1002,2020-08-11 18:00:00,13.0,2020-08-11 11:00:00,2020/08/11/1100Z,30.5,260° @ 39
1003,2020-08-11 19:00:00,13.0,2020-08-11 12:00:00,2020/08/11/1200Z,29.3,270° @ 30
1004,2020-08-11 20:00:00,19.0,2020-08-11 13:00:00,2020/08/11/1300Z,29.3,270° @ 30

In [37]:
for i in range(2,9):
    data2 = pd.read_csv('BKK_withTempAndWind'+str(i)+'.csv')
    data2=data2.iloc[:,1:]
    data=pd.concat([data,data2],ignore_index=True)

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      8784 non-null   object
 1   PM2.5     7814 non-null   float64
 2   date_utc  8784 non-null   object
 3   url_date  8784 non-null   object
 4   temp      8784 non-null   float64
 5   wind      8784 non-null   object
dtypes: float64(2), object(4)
memory usage: 411.9+ KB

In [39]:
data['dir']=data['wind'].apply(lambda x: x.split("° @ ")[0])
data['wind']=data['wind'].apply(lambda x: x.split("° @ ")[1])
data.head()

,date,PM2.5,date_utc,url_date,temp,wind,dir
0,2020-07-01 00:00:00,9.0,2020-06-30 17:00:00,2020/06/30/1700Z,29.4,35,270
1,2020-07-01 01:00:00,8.0,2020-06-30 18:00:00,2020/06/30/1800Z,29.4,42,260
2,2020-07-01 02:00:00,12.0,2020-06-30 19:00:00,2020/06/30/1900Z,28.5,42,260
3,2020-07-01 03:00:00,9.0,2020-06-30 20:00:00,2020/06/30/2000Z,28.5,42,260
4,2020-07-01 04:00:00,8.0,2020-06-30 21:00:00,2020/06/30/2100Z,28.3,55,270

In [40]:
data.isnull().sum()

date          0
PM2.5       970
date_utc      0
url_date      0
temp          0
wind          0
dir           0
dtype: int64

In [41]:
data.to_csv('BKK_scape.csv')

In [2]:
hot_spot = pd.read_csv('https://firms.modaps.eosdis.nasa.gov/api/area/csv/bea870bc4677f98e288ad675e5556171/MODIS_SP/97,5,106,21/1/2020-07-01')
hot_spot

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,17.4410,102.8728,312.3,1.0,1,2020-07-01,629,Aqua,MODIS,40,6.03,285.3,5.5,D,2
1,19.9418,105.2770,313.6,1.1,1,2020-07-01,630,Aqua,MODIS,31,6.03,285.3,5.4,D,0

In [4]:
data = pd.read_csv('https://firms.modaps.eosdis.nasa.gov/api/area/csv/bea870bc4677f98e288ad675e5556171/MODIS_SP/97,5,106,21/1/2020-07-01')

In [5]:
s = datetime(2017,7,2)
e = datetime(2020,6,30)
while(s<e):
    hot_spot = pd.read_csv('https://firms.modaps.eosdis.nasa.gov/api/area/csv/bea870bc4677f98e288ad675e5556171/MODIS_SP/97,5,106,21/10/'+s.strftime("%Y-%m-%d"))
    data = pd.concat([data,hot_spot])
    s = timedelta(days=10)+s

In [6]:
data.to_csv('hot_spot.csv',index=False)